:root {
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-subheading: 1.25rem;
    --font-size-heading: 1.5rem;
    --font-size-large-heading: 2rem;
}

.unloaded {
    opacity: 0;
    transition: 1s all;
}

.mainContainer {
    width: 100%;
    opacity: 1;
    transition: 1s opacity;
}

