:root {
    --color-verde-logo: #1A5900;
    --color-amarillo-logo: #C8BE39;
    --color-amarillo: #ffc107;
    --color-verde-fuente: #1d6100;
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-subheading: 1.25rem;
    --font-size-heading: 1.5rem;
    --font-size-large-heading: 2rem;
}

.unloaded {
    opacity: 0;
    transition: 1s all;
}

.loaded {
    opacity: 1;
    transition: 1s all;
}


/* Movile Version */


.logo {
    width: 20vw;
    min-width: 100px;
}

.mainContainer {
    width: 100%;
    box-sizing: border-box;
}

.logoContainer {
    background-color: #111;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 0 5px 0;
    box-shadow: 0 0 10px #666;
}

.linksContainer {
    display: none;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .logo {
        width: 200px;
    }

    .mainContainer {
        width: 100%;
    }

    .logoContainer {
        background-color: #FFF;
        background-image: url('../../../public/fondo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 192px;
        max-height: 192px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px 0 5px 0;
    }

    .linksContainerContainer {
        max-width: 100%;
        width: 100%;
        background: #06715C;
        position: sticky;
        top: 0;
        z-index: 100;
        box-shadow: 0px 0px 5px #555;
      }
    
      .linksContainer {
        max-width: 100%;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
      }

    .links {
        color: #FFF;
        text-decoration: none;
        font-size: var(--font-size-base);
        font-family: 'Anek Devanagari', 'sans-serif';
        font-weight: bold;
    }

    .links:hover {
        color: var(--color-verde-fuente);
        transition: all .3s;
    }

    .links:not(:hover) {
        color: #FFF;
        transition: all .3s;
    }

}