* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.unloaded {
    opacity: 0;
    transition: 1s all;
}

.loaded {
    opacity: 1;
    transition: 1s all;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #EEE;
}
