body {
    box-sizing: border-box;
}

.unloaded {
    opacity: 0;
    transition: 1s all;
}

.mainContainer {
    width: 100%;
    opacity: 1;
    transition: 1s all;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.contenedorModal {
    width: 500px;
    min-height: 100px;
    background: #FFF;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.encabezadoModal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CE2121;
}

.tituloEncabezado {
    color: #FFF;
    font-size: 1.2rem;
    font-family: 'Lato', 'sans-serif';
}

.botonCerrar {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonCerrar:hover {
    background: rgba(230, 230, 230, .2);
}

.contenedorChildren {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 100px 40px 100px;
    font-family: 'Lato', 'sans-serif';
    text-align: center;
}

.contenedorChildren h2 {
    font-size: 2.3rem;
}

.contenedorChildren button {
    border: none;
    outline: none;
    background: #CE2121;
    color: #FFF;
    border-radius: 5px;
    padding: 20px 25px;
    box-shadow: 0px 0px 5px #777;
    cursor: pointer;
    transition: .3s ease all;
}

.contenedorChildren button:hover {
    background: #ff5f5f;
}