:root {
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-subheading: 1.25rem;
    --font-size-heading: 1.5rem;
    --font-size-large-heading: 2rem;
}

.unloaded {
    opacity: 0;
    transition: 1s all;
}

.mainContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 40px 20px 40px 20px;
    opacity: 1;
    transition: 1s opacity;
}

.paginaHeader {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 30px auto;

    .tituloPagina {
        font-family: 'Lato', 'sans-serif';
        font-size: var(--font-size-large-heading);
        font-weight: bold;
        text-align: left;
        margin: 0;
    }

}


/* Contenedor grid */

.opcionesContainer {
    width: 100%;
    display: grid;
    grid-template-rows: 400px 400px;
    gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 10px;
}

.gestionUsuariosContainer {
    position: relative;
    border-radius: 5px;
    width: 90vw;
    height: 150px;
    box-shadow: 0px 0px 5px #777;
    background: linear-gradient(to top, #16222A, #3A6073);
}

.gestionUsuariosTitulo {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: var(--font-size-large-heading);
    font-family: 'Lusitana', 'sans-serif';
    text-align: center;
    color: #FFF;
    max-width: 400px;
}

.gestionUsuariosDescripcion {
    position: absolute;
    bottom: 45%;
    left: 0;
    right: 0;
    font-family: 'Lato', 'sans-serif';
    font-size: var(--font-size-base);
    color: #FFF;
    margin: auto;
    padding: 0 30px;
    text-align: center;
}


@media (min-width: 992px) {


    .opcionesContainer {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        align-items: center;
        justify-items: center;
        box-sizing: border-box;
        padding: 0 10px;
    }

    .gestionUsuariosContainer {
        position: relative;
    }


    .gestionUsuariosTitulo {
        position: absolute;
        right: 65%;
        top: 38%;
        font-size: var(--font-size-large-heading);
        min-width: 700px;
        font-family: 'Lusitana', 'sans-serif';
        text-align: left;
        padding-left: 80px;
        color: #DDD;
        transition: color .3s;
    }

    .gestionUsuariosContainer:hover .gestionUsuariosTitulo {
        color: #FFF;
        transition: color .3s;
    }

    .gestionUsuariosDescripcion {
        position: absolute;
        top: 39%;
        left: 65%;
        right: 0;
        font-family: 'Lato', 'sans-serif';
        font-size: var(--font-size-heading);
        color: #DDD;
        margin: auto;
        padding: 0 30px;
        text-align: center;
        width: 180px;

    }
    

    .gestionUsuariosDescripcion {
        opacity: 0;
        transform: translateY(20%);
        transition: .5s ease-in all;
    }

    .gestionUsuariosContainer:hover .gestionUsuariosDescripcion {
        opacity: 1;
        transform: translateY(0);
        transition: .5s ease-in all;
    }


    /* -- Hover Transition Border -- */

    .gestionUsuariosContainer span {
        position: absolute;
        display: block;
        background: #FFF;
        z-index: 10;
    }

    .gestionUsuariosContainer span:nth-child(1) {
        left: 1%;
        top: 5%;
        width: 50.5%;
        height: 2px;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform ease-in-out .5s;
    }

    .gestionUsuariosContainer:hover span:nth-child(1) {
        transform: scaleX(1);
        transform-origin: right;
    }




    .gestionUsuariosContainer span:nth-child(2) {
        right: 1%;
        top: 5%;
        width: 50.5%;
        height: 2px;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform ease-in-out .5s;
    }

    .gestionUsuariosContainer:hover span:nth-child(2) {
        transform: scaleX(1);
        transform-origin: right;
    }




    .gestionUsuariosContainer span:nth-child(3) {
        right: 1%;
        top: 5%;
        width: 2px;
        height: 90%;
        transform-origin: top;
        transform: scaleY(0);
        transition: transform ease-in-out .5s;
    }

    .gestionUsuariosContainer:hover span:nth-child(3) {
        transform: scaleY(1);
        transform-origin: bottom;
    }




    .gestionUsuariosContainer span:nth-child(4) {
        left: 1%;
        top: 5%;
        width: 2px;
        height: 90%;
        transform-origin: bottom;
        transform: scaleY(0);
        transition: transform ease-in-out .5s;
    }

    .gestionUsuariosContainer:hover span:nth-child(4) {
        transform: scaleY(1);
        transform-origin: top;
    }




    .gestionUsuariosContainer span:nth-child(5) {
        left: 1%;
        bottom: 5%;
        width: 50.5%;
        height: 2px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform ease-in-out .5s;
    }

    .gestionUsuariosContainer:hover span:nth-child(5) {
        transform: scaleX(1);
        transform-origin: left;
    }




    .gestionUsuariosContainer span:nth-child(6) {
        right: 1%;
        bottom: 5%;
        width: 50.5%;
        height: 2px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform ease-in-out .5s;
    }

    .gestionUsuariosContainer:hover span:nth-child(6) {
        transform: scaleX(1);
        transform-origin: left;
    }

    /* -- Hover Transition Border -- */
}