.unloaded {
    opacity: 0;
    transition: 1s all;
}


/* Movile Version */
.videoContainer {
    display: none;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 30px 10px 70px 10px;
    margin: 40px auto;
    box-shadow: 0 0 10px #777;
    border-radius: 10px;
    font-family: 'Ubuntu sans', 'sans-serif';
}

.formContainer {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin-top: 30px;
}


.logoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoAsesoriaPedagogica {
    width: 50%;
    min-width: 250px;
}

.groupToWrite {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.label {
    font-size: 1.4rem;
}

.input {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #EEE;
    border-radius: 5px;
    padding-left: 5px;
}

.input:focus {
    background-color: #EEE;
    transition: .3s all;
}


.groupToCheck {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 5px;
}

.groupToCheck input {
    cursor: pointer;
}

.checked {
    color: #a100c9;
}

.submitButton {
    background-color: #57c43c;
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px #777;
    padding: 10px 20px;
    width: 80%;
    letter-spacing: 1px;
    font-size: 1.3rem;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #7acc66;
    transition: .3s all;
}

.submitButton:not(:hover) {
    background-color: #57c43c;
    transition: .3s all;
}



/* Desktop Version */
@media (min-width: 992px) {
    .mainContainer {
        flex-direction: row;
        max-width: 1200px;
        padding: 0;
        margin: 20px auto;
        opacity: 1;
        transition: opacity 1s;
    }

    .videoContainer {
        display: inline-block;
        border-radius: 5px;
        padding: 0;
        max-height: 600px;
    }

    .video {
        max-width: 600px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    .logoContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .logoAsesoriaPedagogica {
        width: 50%;
    }

    .form {
        gap: 50px;
    }

}