:root {
    accent-color: rgb(60, 170, 30);
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-subheading: 1.25rem;
    --font-size-heading: 1.5rem;
    --font-size-large-heading: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin-top: 30px;
}

.groupToWrite {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.label {
    font-size: var(--font-size-heading);
}

.input {
    width: 100%;
    height: 40px;
    font-size: var(--font-size-base);
    outline: none;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding-left: 5px;
}

.input:focus {
    background-color: #CCC;
    transition: .2s all;
}


.groupToCheck {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 5px;
}

.groupToCheck input {
    cursor: pointer;
}

.checkbox {
    color: white;
}

.submitButton {
    background-color: #2daf73;
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px #777;
    padding: 10px 20px;
    width: 80%;
    letter-spacing: 1px;
    font-size: var(--font-size-subheading);
    cursor: pointer;
}

.submitButton:hover {
    background-color: #41cf8d;
    transition: .3s all;
}

.submitButton:not(:hover) {
    background-color: #2daf73;
    transition: .3s all;
}


/* Errores de validación */
.errorsSpot {
    width: 100%;
    height: 18px;
    padding-left: 10px;
    display: grid;
    grid-template-areas: "error";
}

.hiddenSpan {
    grid-area: error;
    opacity: 0;
    height: 8px;
    transition: .3s all;
}

.error {
    grid-area: error;
    color: tomato;
    font-size: small;
    font-family: 'Lato', 'sans-serif';
    height: 8px;
    transition: .3s all;
}

/* Errores de validación */



@media(min-width: 992px) {
    .form {
        gap: 50px;
    }
}